AnypointStudio/studio-workspace/abc-trade-api/src/main/mule/abc-trade-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="abc-trade-api-main">
        <http:listener config-ref="abc-trade-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="abc-trade-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="91caf7ed-daaf-4877-a63a-cc809ee2de1e">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                        <ee:set-variable variableName="errorType"><![CDATA[%dw 2.0
output application/json
---
"Bad request"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="process-error-subflow" doc:id="898680fb-d4ce-41a6-b463-7b81717bdd8b" name="process-error-subflow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9bb0d9e2-b370-4654-af29-27c6e1ddd1a2">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                        <ee:set-variable variableName="errorType"><![CDATA[%dw 2.0
output application/json
---
"Resource Not Found"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="process-error-subflow" doc:id="7e795d5f-9dd4-4755-920c-64c06315c88c" name="process-error-subflow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ad5365f8-7ac0-4cb6-98f0-a2750f4a008e">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                        <ee:set-variable variableName="errorType"><![CDATA[%dw 2.0
output application/json
---
"Method Not Allowed"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="process-error-subflow" doc:id="e9321d31-d47c-4808-8c5a-49d457cc7fa0" name="process-error-subflow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="1db43929-8356-4c09-aab4-6fba1f8a1d52">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                        <ee:set-variable variableName="errorType"><![CDATA[%dw 2.0
output application/json
---
"Not Acceptable"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="process-error-subflow" doc:id="387d3b61-0e9d-4001-af3d-90e8b084a09f" name="process-error-subflow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="0d4a6d0e-426d-4024-b034-b33662fe0c2d">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                        <ee:set-variable variableName="errorType"><![CDATA[%dw 2.0
output application/json
---
"Unsupported Media Type"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="process-error-subflow" doc:id="891de52f-30ba-45ae-b702-8e9d3bb55a8f" name="process-error-subflow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="8860ae3e-fb1d-4673-9309-5e72448decb9">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                        <ee:set-variable variableName="errorType"><![CDATA[%dw 2.0
output application/json
---
"Not Implemented"]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="process-error-subflow " doc:id="f250122a-2567-4306-8b6a-52b8c2b16cf2" name="process-error-subflow" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="abc-trade-api-console">
        <http:listener config-ref="abc-trade-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="abc-trade-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="abc-trade-apiFlow" doc:id="5e0d1128-ee0f-4363-ae0d-9aa8643670c7" >
		<ee:transform doc:name="Transform Message" doc:id="8d208e3d-2a80-468c-abd3-a18b9eea6470" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/dw

var numbers = ["one","two", 3]
---
numbers]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="post:\trades:application\json:abc-trade-api-config" doc:id="f14825ec-fe1a-4181-99c3-34a98979fbcc">
        <flow-ref doc:name="trade-orchestration-subflow" doc:id="ff3831da-93c2-4b73-86da-061904e671ca" name="trade-orchestration-subflow" />
    </flow>
    <flow name="put:\trades\(ID):abc-trade-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.'ID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  message: "Trade has been processed successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\trades\(ID):abc-trade-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.'ID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "TSLA",
  exchange: "Nasdaq",
  operation: "buy",
  price: 103.5,
  quantity: 456
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
